/* text */

.boldblue { font-family: Century Gothic, Arial, Helvetica, Verdana, sans-serif; font-size: 18px; font-weight: normal; color: #39586C}

.title { font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 16px; font-weight: bold; color: #39586C; text-align : center}


TD, .maintext { font-family: Arial, Helvetica, Verdana, sans-serif; font-size: 12px; color: #000000}


/* links */
A { color: #27295A; text-decoration: none}
A:hover { color: #27295A; text-decoration: underline}